body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(24, 8, 39) 10%, rgb(104, 14, 14) 68%, rgb(26, 10, 36) 98%);
    animation: gradient 12s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 255, 255, 0.123);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 7s -2s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.3;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.4;
}

@font-face {
    font-family: 'Blowbrush';
    src: url(/Fuentes/blowbrush.ttf);
    font-weight: lighter;
    font-style: normal;
}

.split-text-container {
    font-family: 'Blowbrush';
  font-weight: normal;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 140px;
  text-align: center;
    display: flex;
    text-transform: uppercase;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin-top: 0;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
    margin: 0;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
    margin: 0;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}
img{
margin-top: 90px;
width: 300px;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

h2{
    font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;
    color: rgb(255, 255, 255);
    justify-content: center;
}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


